<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="blob-points-address" value="https://mediaconverterdev.blob.core.windows.net/" />
    <add key="blob-points-account" value="mediaconverterdev" />
    <add key="blob-points-primary-key" value="" />
  </appSettings>
  <connectionStrings>
    <add name="queueConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=maziqueue;AccountKey="/>
  </connectionStrings>
</configuration>